/build
/.bundle
.bundle
.config
coverage
doc/
*.gem
Gemfile.lock
InstalledFiles
.jhw-cache
lib/bundler/man
pkg
*.rbc
rdoc
.rvmrc
/.sass-cache
.sass-cache
spec/reports
test/tmp
test/version_tmp
tmp
_yardoc
.yardoc
