<!doctype html>
%html
  %head
    %meta(charset="utf-8")
      %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
        %title TileEditor
        = stylesheet_link_tag "bootstrap.css", "pixie/editor/pixel/main"
        = javascript_include_tag "application", "bootstrap.js"
  %body
    = yield
